.ConsentPhase {
  flex: 1;
}

.ConsentPhase-content {
  margin: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.ConsentPhase-text {
  white-space: pre-wrap;
}

.ConsentPhase-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 10px;
}