.ConsentPhase {
  display: flex;
}

.ConsentPhase-content {
  margin: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.ConsentPhase-text {
  flex: 1;
  white-space: pre-wrap;
}

.ConsentPhase-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.ConsentPhase-choices > div {
  color: rgb(38, 100, 157);
  border: 1px solid #ccc;
  height: 3.5em;
  padding: 3px;
  box-shadow: 1px 1px 1px #eee;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
