.DiscussPhase {
  flex: 1;
  width: 100%;
}

.DiscussPhase-content {
  padding: 20px;
  padding-top: 0;
}

.DiscussPhase-copy {
  white-space: pre-wrap;
  margin-top: 0;
  padding-top: 0;
}

.DiscussPhase-student {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 320px;
  display: flex;
}

.DiscussPhase-continue {
  border-bottom: 1px solid #ccc;
  height: 1px;
}

.DiscussPhase-swipe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DiscussPhase-swipe-inner {
  padding: 20px;
}