body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

html, body, #root {
  height: 100%;
}

button.button {
  align-self: center;
  background-color: #00ffff;
}

.Global-background-color {
  background-color: #00ffff;
}