body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

html, body, #root {
  height: 100%;
}

button.button {
  align-self: center;
}

.Global-background-color {
  background-color: white;
  color: #662e9e;
}

.Global-header-font {
  font-size: 20px;
}