.IntroductionPhase {
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.IntroductionPhase-header {
  margin-top:0;
  margin-bottom:0;
  padding: 20px;
  padding-bottom: 0px;
}

.IntroductionPhase-body {
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
  font-size: 100%;
  flex: 1;
}

.IntroductionPhase-swipe {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}