.ReviewPhaseView {
  flex: 1;
}

.ReviewPhaseView-content {
  padding: 20px;
  padding-top: 0;
}

.ReviewPhaseView-student {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 320px;
  display: flex;
}

.ReviewPhaseView-argument-container {
  margin: 20px;
}

.ReviewPhaseView-percentage {
  background-color: rgb(37, 214, 137);
  margin-top: 5px;
  color: white;
}

.ReviewPhaseView-percentage-text {
  padding: 10px;
  text-align: right;
}

.ReviewPhase-continue {
  border-bottom: 1px solid #ccc;
  height: 1px;
}

.ReviewPhase-swipe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReviewPhase-swipe-inner {
  padding: 20px;
}