.StudentProfile {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 1;
}

.StudentProfile-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.StudentProfile-profile {
  text-align: center;
  margin: 10px;
}