.Student {
  flex: 1;
  display: flex;  
  flex-direction: column;
}

.Student-choices-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Student-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

.Student-choices > .TappableButton {
}