.Student {
  flex: 1;
  display: flex;  
  flex-direction: column;
}

.Student-choices-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Student-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  text-align: center;
}

.Student-choices > li {
  flex: 1;
  font-size: 13px;
  list-style: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #f6f6f6;
  background: rgb(38,100,157);
  height: 3.8em;
  padding: 3px;
  box-shadow: 1px 1px 1px #eee;
  border-radius: 5px;
}