.Student {
  flex: 1;
  display: flex;  
  flex-direction: column;
}

.Student-choices-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.Student-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

.Student-argument {
  margin-left: 15px;
  margin-right: 15px;
}

.Student-open-response-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Student-open-response-prompt {  
  text-align: center;
  margin-top: 10px;
}

.Student-open-response-textarea {
  display: block;
  width: 90%;
  font-size: 13px;
  border: 1px solid #eee;
  resize: none;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
