.Swipeable {
  display: flex;
  align-items: center;
  width: 100%;
}

.Swipeable-spring {
  position: relative;
  height: 100%;
  width: 100%;
}

.Swipeable-views {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.Swipeable-left {
  background-color: green;
  height: 100%;
}

.Swipeable-children {
  height: 100%;
  display: flex;
  align-items: center;
}

.Swipeable-right {
  background-color: orange;
  height: 100%;
}