.Title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title-intro {
  flex: 1;
  font-size: 48px;
  margin: 20px;
  margin-top: 80px;
  display: flex;
  text-align: center;
}

.Title-logo {
  display: block;
}

.Title-swipe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}