.Title {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.Title-intro {
  font-size: 400%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Title-swipe {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}