.Turn {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Turn-student {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 1;
  margin: 10px;
}

.Turn-profile {
  text-align:center;
  margin-right:10px;
  margin-left:10px;
}