.WorkshopCode {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.WorkshopCode-intro {
  flex: 1;
  font-size: 48px;
  margin: 20px;
  margin-top: 60px;
  display: flex;
  text-align: center;
  width: 100%;
}

.WorkshopCode-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 40px;
  background: white;
  z-index: 10;
}

.WorkshopCode-input {
  margin: 10px;
  margin-top: 5px;
  text-align: center;
}

.WorkshopCode-workshop {
  width: 100%;
  font-size: 32px;
}

.WorkshopCode-warning {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.WorkshopCode-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.WorkshopCode-warning-message {
  padding: 20px;
  padding-left: 10px;
  width: 8em;
}