language: node_js
node_js:
  - "6.11.3"

branches:
  only:
    - master

# This adds a dummy travis database so that we can connect
# to postgres, and then runs the script to create the
# swipe-right test database and create tables.
before_script:
  - yarn db-create-test