.MobileSimulator {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.MobileSimulator-not-wide {
  flex: 1;
  display: flex;
  background: white;
}

.MobileSimulator-phone {
  position: relative;
  width: 320px;
  height: 568px;
  background: #111;
  box-shadow: 0px 0px 0px 2px #aaa;
  z-index: 1000;
  padding: 90px 30px;
  border-radius: 55px;
}

.MobileSimulator-phone:before {
  content: '';
  width: 60px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  background: #333;
  top: 40px;
}

.MobileSimulator-button {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  bottom: 15px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 5px solid #333;
}

/* positions it within the image */
.MobileSimulator-safari:before {
  content: 'swipe-right-for-cs.teachingsystemslab.org';
  font-size: 12px;
  position: relative;
  top: 46px;
  color: black;
}

.MobileSimulator-safari {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MobileSimulator-background {
  position: relative;
  height: 444px;
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  display: flex;
}