.Swipeable {  
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.Swipeable-spring {
  position: relative;
  width: 100%;
}

.Swipeable-views {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.Swipeable-left {
  flex: 1;
  background-color: rgb(37, 214, 137);
}

.Swipeable-right {
  flex: 1;
  background-color: rgb(226, 170, 22);
}

.Swipeable-arrow-for-swipe-left {
  position: absolute;
  cursor: pointer;
  color: rgb(226, 170, 22);
  left: 1px;
  top: 0;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Swipeable-arrow-for-swipe-right {
  position: absolute;
  cursor: pointer;
  color: rgb(37, 214, 137);
  right: 1px;
  top: 0;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Swipeable-children {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


