.Bubble-table {
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.Bubble-row {
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}
.Bubble-data {
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding-top: 20px;
  height: 100px;
  width:100px;
  margin: auto;
}

