.Bubble-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Bubble-row {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.Bubble-data {
  flex-direction: row;
  align-items: center;
}