.Bubble-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Bubble-row {
  display:flex;
  flex-direction: row;
  align-items: center;
}
.Bubble-data {
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100px;
  align-content: center;
  justify-content: center;
}