.InteractiveBubbleChart-table {
  width: 100%;
}

.InteractiveBubbleChart-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  align-content: center;
  justify-content: center;
}
.InteractiveBubbleChart-picture{
  cursor: pointer;
}