.LoginView {
  width: 100%;
  margin: 10px;
  display: block;
}

.LoginView-analysis {
  margin: 20px;
  margin-bottom: 100px;
}

.Block {
  width: 100%;
  margin: 10px;
  display: block;
}
.SubmitButton {
  width: 100%;
  margin: 10px;
  display: block;
}