.Title {
  text-align: center;
  background-color: lime;
}

.Instructions-header{
  text-align: center;
  background-color: lime;
  height: 50px;
  color: purple;
  padding: 20px;
  font-size: 140%;

}

.Instructions-body{
  background-color: lime;
  padding: 20px;
  height: 400px;
  font-size: 100%;
  color: purple;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: lime;
  height: 150px;
  padding: 20px;
  color: red;
}

.App-intro {
  font-size: 600%;
  text-align: center;
  background-color: lime;
  color: red;

}

p {
  font-size: 100%;
}

button{
  font-size:100%;
  text-align: center;
  background-color: lime;


}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
