body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
}

#root.fake-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fake {
  position: relative;
  width: 320px;
  height: 568px !important;
  background: #111;
  box-shadow: 0px 0px 0px 2px #aaa;
  z-index: 1000;
  padding: 90px 30px;
  border-radius: 55px;
}

.fake:before {
  content: '';
  width: 60px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  background: #333;
  top: 40px;
}

.fake:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  bottom: 15px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 5px solid #333;
}