.Turn {
  padding: 10px;
}

.Turn-student {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding-top:40px;
  height: 568px;
  background-color: #00ffff;
  padding-bottom: 10px;
}

.Turn-profile {
  padding-top: 50px;
  padding-bottom: 90px;
  text-align:center;
  margin-right:10px;
  margin-left:10px;
  background-color: #00ffff;
}
